Source: dump1090
Section: utils
Priority: extra
Maintainer: Matthew Ernisse <mernisse@ub3rgeek.net>
Build-Depends: debhelper (>= 8.0.0), dpkg-dev (>= 1.16.1~), pkg-config, librtlsdr0-dev
Standards-Version: 3.9.3
Homepage: https://github.com/MalcolmRobb/dump1090

Package: dump1090
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, librtlsdr0
Description: ADS-B decoder software for the Realtek SDR
 Receive and decode ADS-B and Mode-S traffic via a compatible
 Realtek software-defined radio module.
